// Entrys

.entry-header {
    margin-top: 30px;

    .entry-title {}
}

.entry-content {}

.wp-block-cover__inner-container,
.entry-header,
.entry-content {
    width: 100% !important;

    &>*:not(.alignwide):not(.alignfull):not(.wp-block-separator) {
        @extend .container;
    }

    .alignfull {
        max-width: 100%;
    }

    .alignwide {
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;

        // Extra large devices (large desktops, 1200px and up)
        @media (min-width: 1200px) {
            max-width: 1360px;
        }
    }
}

.entry-footer {}