// Topbar 

.topbar {
    padding: 8px 0;
    border-bottom: 1px solid #666666;
    font-size: 0.7em;

    .container {
        display: flex;
        justify-content: space-between;
    }

    .navbar-collapse {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: #C5C5C5;
                }
            }

            &.left {
                justify-content: flex-start;

                .nav-item:first-child {
                    .nav-link {
                        padding-left: 0;
                    }
                }
            }
        }
    }
}