form {
    color: #222222;

    p {
        font-size: 1em;
        margin-bottom: 1rem;
    }

    label {
        margin: 0;
        width: 100%;
        text-transform: lowercase;
        font-weight: bold;
    }
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea,
select {
    width: 100%;
    margin-top: 8px;
    padding: 8px;
    border: 3px solid #222222;
    border-radius: 0;
    background: transparent;
    background-clip: padding-box;
    color: #222222;
    box-sizing: border-box;
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 12px 50px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    border: none;
    color: #222222;
    background-color: #ffffff;
    box-sizing: border-box;
}

textarea {
    min-height: 130px;
}

select {
    width: 100%;
    height: 2.5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    background-image:
        linear-gradient(45deg, transparent 50%, #fff 50%),
        linear-gradient(135deg, #fff 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s;
    border: 4px solid #222222;
    box-shadow: 0 0 0 1000px transparent inset;
    -webkit-text-fill-color: #222222;
}

::placeholder {
    color: #222222;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #222222;
}

::-ms-input-placeholder {
    color: #222222;
}