// Figure

figure {
    position: relative;

    figcaption {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin: 0 !important;
        padding: 1em 0 1em 22% !important;
        text-align: left !important;
        color: #ffffff !important;
        background: #222222 !important;

        // Small devices (landscape phones, 576px and up)
        @media (min-width: 576px) {
            opacity: 0;
            transition: opacity .3s ease-in-out;
        }

        &::before {
            content: "";
            position: absolute;
            top: 1.25rem;
            left: 0;
            width: 20%;
            height: 1px;
            background-color: #ffffff;
        }
    }

    &>a {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: transform .3s ease-in-out;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: transparent;
            transition: background-color 0.3s ease-in-out;
        }

        &::after {
            content: '\2715';
            position: absolute;
            font-size: 2rem;
            color: #ffffff;
            transform: rotate(-45deg);
            opacity: 0;
            transition: opacity 0.3 ease-in-out;
        }
    }

    &:hover {
        &>a {
            &::before {
                background-color: rgba(#222222, 0.6);
            }

            &::after {
                opacity: 1;
            }
        }

        &>figcaption {
            opacity: 1;
        }
    }
}