// Button Outline

.is-style-outline {
    .wp-block-button__link {
        border-width: 1px;

        &:hover,
        &:active,
        &:focus {
            color: #ffffff !important;
        }
    }
}