// Web Fonts

@font-face {
    font-family: 'Gotham';
    src: url('../../fonts/Gotham-Light.woff2') format('woff2'),
        url('../../fonts/Gotham-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GothamLight';
    src: url('../../fonts/Gotham-Light-Italic.woff2') format('woff2'),
        url('../../fonts/Gotham-Light-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../../fonts/Gotham-Bold.woff2') format('woff2'),
        url('../../fonts/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../../fonts/Gotham-Bold-Italic.woff2') format('woff2'),
        url('../../fonts/Gotham-Bold-Italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
