@charset "UTF-8";
/* Shared Styles */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: "Gotham", sans-serif;
}

main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
}

p {
  margin: 0 0 15px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

figure {
  position: relative;
}
figure figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 !important;
  padding: 1em 0 1em 22% !important;
  text-align: left !important;
  color: #ffffff !important;
  background: #222222 !important;
}
@media (min-width: 576px) {
  figure figcaption {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
}
figure figcaption::before {
  content: "";
  position: absolute;
  top: 1.25rem;
  left: 0;
  width: 20%;
  height: 1px;
  background-color: #ffffff;
}
figure > a {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}
figure > a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}
figure > a::after {
  content: "✕";
  position: absolute;
  font-size: 2rem;
  color: #ffffff;
  transform: rotate(-45deg);
  opacity: 0;
  transition: opacity 0.3 ease-in-out;
}
figure:hover > a::before {
  background-color: rgba(34, 34, 34, 0.6);
}
figure:hover > a::after {
  opacity: 1;
}
figure:hover > figcaption {
  opacity: 1;
}

.wp-block {
  max-width: 1140px;
}

.wp-block[data-align="wide"] {
  max-width: 1360px;
}

.wp-block[data-align="full"] {
  max-width: none;
}

.wp-block-group *:last-child {
  margin-bottom: 0;
}

.wp-block-buttons.alignright {
  text-align: right;
}
.wp-block-buttons.alignright .wp-block-button {
  margin-right: unset;
}

.wp-block-gallery .blocks-gallery-item {
  position: relative;
  margin: 0 !important;
}
.wp-block-gallery .blocks-gallery-item img {
  min-height: 300px;
}

.wp-block-shortcode textarea {
  color: #000;
  width: 100%;
}

.wp-block-image img {
  max-width: 100%;
  height: auto;
}

.wp-block-columns {
  margin-bottom: 0;
}

.wp-block-separator {
  height: 1px !important;
  border-width: 1px;
}

.is-style-to-the-left {
  margin-left: 0;
}

.is-style-outline .wp-block-button__link {
  border-width: 1px;
}
.is-style-outline .wp-block-button__link:hover,
.is-style-outline .wp-block-button__link:active,
.is-style-outline .wp-block-button__link:focus {
  color: #ffffff !important;
}

.has-white-color {
  color: #ffffff !important;
}

.has-white-background-color {
  background-color: #ffffff !important;
}

.has-ocean-green-color {
  color: #5bc2a7 !important;
}

.has-ocean-green-background-color {
  background-color: #5bc2a7 !important;
}

.has-deep-saffron-color {
  color: #ffa037 !important;
}

.has-deep-saffron-background-color {
  background-color: #ffa037 !important;
}

.has-dim-gray-color {
  color: #666666 !important;
}

.has-dim-gray-background-color {
  background-color: #666666 !important;
}

.has-eerie-black-color {
  color: #222222 !important;
}

.has-eerie-black-background-color {
  background-color: #222222 !important;
}

/*# sourceMappingURL=shared-styles.css.map */
